<div class="entry-panel entry-list">
    <div class="table-header">
        <strong>Deine Mapstories </strong>
        <div class="table-toggles">
            <div class="btn-group" data-toggle="buttons-radio">
                <button id="entry_sort_title" type="button" class="btn btn-small active" onclick="$('#entry_modal').trigger('display_list', 'title');">
                    Titel <i class="icon-angle-up"></i></button>
                <button id="entry_sort_date" type="button" class="btn btn-small" onclick="$('#entry_modal').trigger('display_list', 'date');">
                    Datum <i class="icon-angle-down"></i></button>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <table class="table table-striped table-bordered">
        <tbody></tbody>
    </table>
</div>
