<section class="re-tutorial-section fill-color-grey--lightest">
    <div class="container">
        <h4>Tutorial 1: Erstellen einer Mapstory</h4>
        <h5 class="re-sub-header">Hier lernst du die Grundzüge zum Erstellen einer Mapstory kennen.</h5>
        <br>
        <div class="re-flex-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qhlle-j7RdI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="re-tutorial-section">
    <div class="container">
        <h4>Tutorial 2: Einbetten von Social Media und anderen Medien</h4>
        <h5 class="re-sub-header">Hier lernst du die Schritte zum Einbetten von Social Media und anderen digitalen Medien kennen.</h5>
        <br>
        <div class="re-flex-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VqS1FpTXco8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="re-tutorial-section fill-color-grey--lightest">
    <div class="container">
        <h4>Tutorial 3: Einfaches Layouten der eigenen Mapstory</h4>
        <h5 class="re-sub-header">Hier lernst du die Schritte zum einfachen Layouten deiner Mapstory kennen.</h5>
        <br>
        <div class="re-flex-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IdJKLzHth70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section class="re-tutorial-section">
    <div class="container">
        <h4>Tutorial 4:  Einfaches Teilen und Einbetten deiner Mapstory</h4>
        <h5 class="re-sub-header">Hier lernst du die Schritte zum Teilen in Social-Media und Einbetten in Webseiten deiner Mapstories kennen.</h5>
        <br>
        <div class="re-flex-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-W2m12Bvsbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
