{% if config.TEST_MODE %}
<div class="test-mode-warning">Running in test mode: Data will not be saved.</div>
{% endif %}

<div class="menu-bar">
    <div class="menu-bar-left">
        <a id="storymap_list" class="btn" href="{{ url_for('select') }}"><i class="icon-chevron-left"></i> Meine Mapstories</a>
        <button id="storymap_options" class="btn" href="#opt_modal" data-toggle="modal"><i class="icon-cog"></i> Optionen</button>
        <button id="storymap_save" class="btn disabled"><i class="icon-save"></i> Speichern</button>
        <button id="storymap_publish" class="btn hide"><i class="icon-repeat"></i> Änderungen veröffentlichen</button>
    </div>
    <div class="menu-bar-right">
        <a href="https://padlet.com/VamosMuenster/na6zu0k77l37gvdz" target="_blank" id="feedback" class="btn"><i class="icon-help"></i> Feedback</a>
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Hilfe <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{ url_for('advanced') }}" target="_blank">Erweitert</a></li>
                <li><a href="https://knightlab.zendesk.com/forums/22615078-StoryMapJS" target="_blank">Support Forum</a></li>
                <li><a href="https://github.com/NUKnightLab/StoryMapJS" target="_blank">GitHub Repository</a></li>
            </ul>
        </div>
        <button id="storymap_share" class="btn" href="#share_modal" data-toggle="modal"><i class="icon-share"></i> Teilen</button>
    </div>
</div>

<div class="slides-section">
    <div class="slide">
        <div class="slide-icon"></div>
        <div class="slide-title"></div>
    </div>
    <div class="slides-container">
        <ol id="slides">
        </ol>
	    <div class="slides-add" id="storymap_add_slide" >
			<div class="slide-icon"></div>
			<div class="slide-title">Neue Folie</div>
		</div>
	    <div class="slides-add" id="storymap_add_story">
			<div class="slide-icon"></div>
			<div class="slide-title">Story hinzufügen</div>
		</div>
    </div>
</div>

<div class="tabs-section">
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#edit" data-toggle="tab">Bearbeiten</a></li>
        <li><a href="#preview" data-toggle="tab">Vorschau</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="edit">
            <div id="map-div">
                <div id="map" class="vco-map"></div>
                <svg id="map_overlay" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <polyline points="" />
                </svg>
                <div id="map_info" class="ui-note">Dies ist Ihre Titelfolie.  Die Titelfolie zeigt alle Punkte aus Ihren anderen Folien.</div>
                <input title="Suchen Sie nach einem Ort oder geben Sie die Koordinaten wie folgt ein: lat:42.0507 lon:-87.6739" id="map_search_input" type="text" placeholder="Suchen Sie nach einem Ort oder geben Sie die Koordinaten wie folgt ein: lat:42.0507 lon:-87.6739">
           </div>

            <div class="data-left">
                <div class="data-section data-frame">
                    <label style='display: block'>Medien</label>
					<!--
                    <div class="data-media-icons">
                        <span class="vco-icon-dailymotion"></span>
                        <span class="vco-icon-flickr"></span>
                        <span class="vco-icon-image"></span>
                        <span class="vco-icon-instagram"></span>
                        <span class="vco-icon-soundcloud"></span>
                        <span class="vco-icon-storify"></span>
                        <span class="vco-icon-twitter"></span>
                        <span class="vco-icon-vimeo"></span>
                        <span class="vco-icon-vine"></span>
                        <span class="vco-icon-youtube-logo"></span>
                        <span class="vco-icon-web"></span>
                        <span class="vco-icon-wikipedia"></span>
                    </div>
					-->
                    <div class="data-media-preview">
                    </div>
                    <div class="data-media-details">
                      <input id="url" type="text" placeholder="URL zum Bild / Video / Artikel">
                      
                      <div style="padding-top: 1em;">
                        <span>Kopiere den Link in das Feld, Plattformen die unterstützt werden:</span><br>
                        <!-- <span id="upload_media" title="Embed Facebook"><i class="vco-icon-facebook icon-large"></i></span> -->
                        <span id="upload_media" title="Embed Instagram"><i class="vco-icon-instagram icon-large"></i></span>
                        <span id="upload_media" title="Embed Youtube"><i class="vco-icon-youtube icon-large"></i></span>
                        <span id="upload_media" title="Embed Vimeo"><i class="vco-icon-vimeo icon-large"></i></span>
                        <span id="upload_media" title="Embed Soundcloud"><i class="vco-icon-soundcloud icon-large"></i></span>
                        <span id="upload_media" title="Embed Twitter"><i class="vco-icon-twitter icon-large"></i></span>
                        <span id="upload_media" title="Embed Vine"><i class="vco-icon-vine icon-large"></i></span>
                        <span id="upload_media" title="Embed DailyMotion"><i class="vco-icon-dailymotion icon-large"></i></span>
                        <span id="upload_media" title="Embed Flickr"><i class="vco-icon-flickr icon-large"></i></span>
                        <span id="upload_media" title="Embed Wikipedia"><i class="vco-icon-wikipedia icon-large"></i></span>
                        <span id="upload_media" title="Embed Padlet"><i class="vco-icon-padlet icon-large"></i></span>
                    </div>
                    <div class="data-media-upload">
                        oder  <button id="upload_media" class="btn" title="Upload image" href="#upload_modal" data-toggle="modal"><i class="icon-cloud-upload icon-large"></i>Bild hochladen </button>
                        <br>
                        <br>
                        <input id="mp3" type="text" placeholder="URL zur Mp3">
                        <button id="upload_media" class="btn" title="Upload Mp3" href="#upload_modal_mp3" data-toggle="modal"><i class="icon-cloud-upload icon-large"></i>Mp3 hochladen </button>
                      </div>
                        
                      <input id="credit" type="text" placeholder="Quelle">
                      <textarea id="caption" placeholder="Beschriftung" rows="3"></textarea>
                        <div class="data-media-upload"><em>Unterstützt <a href="#html_modal"  data-toggle="modal">HTML</a></em></div>
                    </div>
                </div>
            </div>

            <div class="data-right">
                <div class="data-section">
                    <input id="headline" type="text" placeholder="Überschrift" class="editor-headline">
                    <textarea id="text" rows="5"></textarea>
                    <button id="marker_options" class="btn" href="#marker_opt_modal" data-toggle="modal"><i class="icon-map-marker icon-medium"></i> Markeroptionen</button>
                    <button id="background_options" class="btn" href="#background_opt_modal" data-toggle="modal"><i class="icon-cog icon-medium"></i> Hintergrundoptionen</button>
                    <button id="line_options" class="btn" href="#line_opt_modal" data-toggle="modal"><i class="icon-road icon-medium"></i> Linienoptionen</button>
               </div>
            </div>

        </div>
        <div class="tab-pane" id="preview">
            <div id="preview_embed"></div>
        </div>
    </div>
</div>

<!-- START BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->
<ul id="wysihtml5_emphasis" style="display: none;">
    <li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-command="bold" title="Bold" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-bold"></i></a>
    <a class="btn btn-small" data-wysihtml5-command="italic" title="Italic" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-italic"></i></a>
    </div>
    </li>
</ul>
<ul id="wysihtml5_link" style="display: none;">
<li>
    <div class="bootstrap-wysihtml5-insert-link-modal modal hide fade">
    <div class="modal-body">
    <p><input value="" class="bootstrap-wysihtml5-insert-link-url input-xlarge"></p>
    <label class="checkbox"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Link in neuem Fenster öffnen</label>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a><a href="#" class="btn btn-primary" data-dismiss="modal">Link einfügen</a>
    </div>
    </div>
    <a class="btn btn-small" data-wysihtml5-command="createLink" title="Link einfügen" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-link"></i></a>
</li>
</ul>
<ul id="wysihtml5_html" style="display: none;">
<li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-action="change_view" title="HTML bearbeiten" tabindex="-1" href="javascript:;" unselectable="on">&lt;/&gt;</a>
    </div>
</li>
</ul>
<!-- END BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->
