<section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <div class="grid">
            <div class="column-8">
                <h2>FAQ</h2>
                <h5 class="re-sub-header">Die wichtigsten Fragen rund um Mapstories</h5>    
            </div>
            <div class="column-4">
                <h3>Weitere Resourcen:</h3>
                <ul>
                    <li><a target="_blank" href="/static/pdf/22-02-01_Mapstories_Storytelling_Storyboard.pdf">Storyboard</a></li>
                    <li><a target="_blank" href="/static/pdf/Anleitung_Mapstories_RM_TS.pdf">Anleitung</a></li>
                    <li><a target="_blank" href="https://github.com/reedu-reengineering-education/mapstories">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section container" id="help">
    <div class="grid" id="faq">
        <div class="grid-item">
            <ul class="accordion">
            {% for faq in faqs %}
            {#
                Add/edit faqs in the faqs.json file.
                Depends upon inject_index_data in app.py for these to be available to render.
            #}
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3 id="{{ faq.slug }}">{{ faq.question }}</h3>
                    <div class="accordion-content">
                        {{ faq.answer|safe }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
