<footer class="footer-knightlab--dark">
  <div class="container">
    <!-- 
        <div class='grid grid-center'>
            <div class='column-3 column-5-tablet column-6-phone'>
                <a href="https://reedu.de" target="_blank">
                    <div class="re-footer-icon-card">
                        <img src="https://reedu.de/assets/img/logos/logo_orange.svg">
                    </div>
                </a>
                <p>
                    Betreiber & Technische Umsetzung: <a href="https://reedu.de" target="_blank">re:edu GmbH & Co. KG</a>
                </p>
            </div>
            <div class='column-3 column-5-tablet column-6-phone footer-description'>
                <a href="http://knightlab.northwestern.edu" target="_blank">
                    <div class="re-footer-icon-card" style="padding: 2rem">
                        <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-knightlab-stacked-dark-small.png">
                   </div>
                </a>
                <p>
                    Mapstories.de basiert auf der Entwicklung vom Knight Lab der <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a>
                </p>
            </div>
            <div class='column-3 column-5-tablet column-6-phone footer-description'>
                <a title="Vamos e.V. Münster Logo" href="https://vamos-muenster.de/" target="_blank">
                    <div class="re-footer-icon-card" style="padding: 1rem; background-color: white;">
                        <img src="/static/img/logos/logo_vamos.jpeg">
                   </div>
                </a>
                <p>
                    Gefördert vom <a title="Vamos e.V. Münster" href="https://vamos-muenster.de/" target="_blank">Vamos e.V. Münster</a>
                </p>
            </div>
            <div class='column-3 column-5-tablet column-6-phone footer-description'>
                <a title="BMZ" href="https://www.bmz.de/" target="_blank">
                    <div class="re-footer-icon-card" style="padding: 1rem; background-color: white;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/BMZ_Logo.svg/250px-BMZ_Logo.svg.png">
                   </div>
                </a>
                <p>
                    Mit finanzieller Unterstützung vom <a title="Vamos e.V. Münster" href="https://www.bmz.de/" target="_blank">Bundesministerium für wirtschaftliche Zusammenarbeit und Entwicklung</a>
                </p>
            </div>
        </div> -->

    <div class="grid grid-center" style="text-align: center;">
      <div class="column-6 column-6-tablet column-12-phone">
        <p>Gefördert durch die <br /> </p>
        <div
          class="re-footer-icon-card"
          style="padding: 1rem; background-color: white; margin: auto;"
        >
          <img src="/static/img/logos/logo_sue.png" />
        </div>
      </div>
      <div class="column-6 column-6-tablet column-12-phone footer-description">
        <p>Gefördert durch ENGAGEMENT GLOBAL mit Mitteln des</p>
        <div
          class="re-footer-icon-card"
          style="background-color: white; margin: auto;"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/BMZ_Logo.svg/250px-BMZ_Logo.svg.png"
          />
        </div>
      </div>
      
    </div>

    <div class="grid grid-center">
      <div class="grid-item" style="text-align: center">
        <a href="/impressum/">Impressum & Datenschutz</a>
        <address
          itemscope=""
          itemtype="http://data-vocabulary.org/Organization"
        >
          Reedu GmbH & Co. KG | Von-Steuben-Str. 21 | 48143 Münster
        </address>
        <span class="copyright"
          >© Copyright
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          Reedu GmbH & Co. KG</span
        >
      </div>
    </div>
  </div>
</footer>
