<footer class="footer-knightlab re-footer">
  <div class="container">
    <div class="grid grid-center" style="text-align: center">
      <div class="column-4 column-4-tablet column-12-phone">
        <p>Gefördert durch die <br /></p>
        <a href="https://www.sue-nrw.de/">
          <div
            class="re-footer-icon-card image-link"
            style="padding: 1rem; background-color: white; margin: auto"
          >
            <img src="/static/img/logos/logo_sue.png" />
          </div>
        </a>
      </div>
      <div class="column-4 column-4-tablet column-12-phone footer-description">
        <p>Gefördert durch ENGAGEMENT GLOBAL mit Mitteln des</p>
        <a href="https://www.bmz.de/">
          <div
            class="re-footer-icon-card image-link"
            style="background-color: white; margin: auto"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/b/b0/BMZ_Logo.svg"
            />
          </div>
        </a>
      </div>
      <div class="column-4 column-4-tablet column-12-phone footer-description">
        <p>Basierend auf der Entwicklung vom</p>
        <a href="https://storymap.knightlab.com/">
          <div
            class="re-footer-icon-card image-link"
            style="background-color: white; margin: auto"
          >
            <img
              src="/static/img/logos/logo_knightlab.png"
            />
          </div>
        </a>
      </div>
    </div>

    <div class="grid grid-center">
      <div class="grid-item" style="text-align: center">
        <a href="/impressum/">Impressum & Datenschutz</a>
        <address
          itemscope=""
          itemtype="http://data-vocabulary.org/Organization"
        >
          Reedu GmbH & Co. KG | Von-Steuben-Str. 21 | 48143 Münster
        </address>
        <span class="copyright"
          >© Copyright
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          Reedu GmbH & Co. KG</span
        >
      </div>
    </div>
  </div>
</footer>
