<section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <h2>Der Stoff aus dem die Träume sind</h2>
        <h5 class="re-sub-header">TrikotTausch #whomademyclothes</h5>
        <br>
        <p>
            Im digitalen Einstiegsmodul „Der Stoff, aus dem die Träume sind“ erhältst du einen Einblick in die globale Bekleidungsindustrie, ihre Auswirkungen auf Mensch und Umwelt sowie Handlungsalternativen.
            Dabei wird die <b>Geschichte einer junge Frau</b> erzählt, die ein Stück Stoff mit einem Hilferuf drauf in ihrer Bluse findet. Zusammen mit einer Freundin und weiteren Jugendlicher macht sie sich auf den Weg, die <b>weltweite Herkunft des Stoffs</b> und die Produktion der Bluse und weiterer Kleidungsstücke zu erkunden. Sie erfährt, dass Träume und Alpträume in der globalen Kleidungsindustrie nahe beieinander liegen und lernt am Ende <b>Handlungsalternativen</b> kennen.
            <br><br>
            
            Das Modul wurde von Jugendlichen zusammen mit Vamos in <b>einem ko-kreativen Lab</b> gestaltet. Es finden sich viele persönliche Aussagen der Jugendlichen in Podcasts, Instagram-Posts, Videos und anderen Formaten wieder. Die genutzte Plattform www.mapstories.de ermöglicht eine <b>kartenbasierte, interaktive Erkundung</b> der globalen Textilindustrie, lässt die individuelle Erforschung der Stationen (z.B. mit Google Streetview und Earth) zu und beinhaltet weiterführende Links. Das Modul enthält zudem an vielen Stellen <b>Reflektionsfragen</b> und Aufgaben, die alleine oder in Gruppenarbeit diskutiert und gelöst werden können.
        </p>
        <div class="example-grid">
        {% for example in stoff %}
        {#
            Add/edit examples in the examples.json file.
            Depends upon inject_index_data in app.py for these to be available to render.
        #}
        <div class="grid-item">
            <a href="{{ example.link }}" class="button button-light" target="_blank">
                <figure class="examples">
                    <img src="{{ example.thumbnail }}" alt="{{ example.title }}">
                </figure>
                <img src="{{ example.source_logo }}" alt="{{ example.source }}" class="logo-inline">
                <h4>{{ example.title }}</h4>
            </a>
        </div>
    {% endfor %}
    </div>
</section>

<section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <h2>Gründung des Bundesministeriums für Schrumpfung, Glück und ein gutes Leben für Alle</h2>
        <h5 class="re-sub-header">KonsumWandel - Wir können auch anders</h5>
        <br>
        <p>
            "Eine Eilmeldung in den Nachrichten:
            „Bundesministerium für Schrumpfung, Glück und ein Gutes Leben für Alle gegründet und Koalitionsvertrag gegründet“.
            <br><br>
            Zwei Youtuber:innen schauen sich daraufhin die Vorstellung des Koalitionsvertrags „Glück und ein Gutes Leben für Alle durch Schrumpfung“ an und kommentieren ihn. Zudem reagieren sie auf Kommentare der Youtube-Community, was das mit ihrem Alltag zu tun hat und warum Wachstum durch Schrumpfung ersetzt werden solle. Danach sind die Nutzer:innen gefragt. In drei interaktiven Mapstorys am Beispiel von Smartphones, Fleischwaren und dem Wachstumsparadigma begeben sie sich auf eine Weltreise, um die Hintergründe und Produktionsbedingungen weltweit zu erkunden. Dabei zeigen sich die Auswirkungen des Massenkonsums auf Mensch, Umwelt und das Miteinander. Am Ende werden Möglichkeiten zum KonsumWandel anhand der Beispielthemen und darüber hinaus vorgestellt und jeder kann sich eigene Handlungsideen überlegen.
            <br><br>
            Das Modul wurde von Jugendlichen zusammen mit Vamos über mehrere Monate in einem ko-kreativen Lab entwickelt. Es finden sich viele Perspektiven der Jugendlichen in Form von Audio Inputs wieder. Das digitale Modul kann als Einzel- oder Gruppenarbeit in ca. 90 Minuten angeboten werden und eignet sich zur Vorbereitung der Durchführung der Bildungstasche „KonsumWandel“.
        </p>
        <div class="example-grid">
        {% for example in konsum %}
        {#
            Add/edit examples in the examples.json file.
            Depends upon inject_index_data in app.py for these to be available to render.
        #}
        <div class="grid-item">
            <a href="{{ example.link }}" class="button button-light" target="_blank">
                <figure class="examples">
                    <img src="{{ example.thumbnail }}" alt="{{ example.title }}">
                </figure>
                <img src="{{ example.source_logo }}" alt="{{ example.source }}" class="logo-inline">
                <h4>{{ example.title }}</h4>
            </a>
        </div>
    {% endfor %}
    </div>
</section>
