
    <header class="header-product" style="margin-bottom: 0;">
	<h1 class="product-logo product-logo-large">Mapstories</h1>
	<h2 class="product-tagline">Karten, die Geschichten erzählen.</h2>
	<a class="button button-secondary button-large button-small-phone" href="select/">Erstelle eine Mapstory</a>

    <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
        <ul>
            <li class="logo">
                <h2 class="product-logo product-logo-smallest">Mapstories</h2>
            </li>
        </ul>
        <ul>
                <li><a class="button" href="#overview">Übersicht</a></li>
                <!-- <li><a class="button" href="#examples">Beispiele</a></li> -->
                <li><a class="button" href="#make">Erstelle eine Mapstory</a></li>
                <li><a class="button" href="/advanced/">Erweitert</a></li>
                <li><a class="button" href="#help">Hilfe</a></li>
        </ul>
    </nav>
</header>
