    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mapstories</title>
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

    <!-- Meta -->
    <meta name="keywords" content="mapstories, story, news, social media, create, twitter, journalism, maps, VAMOS">
    <meta name="description" content="Golbale Geschichten interaktiv erzählen..">
    <!-- /Meta -->

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Mapstories" />
    <meta property="og:description" content="Golbale Geschichten interaktiv erzählen." />
    <meta property="og:image" content="https://mapstories.de/static/img/mapstories_logo.jpg" />
    <meta property="og:url" content="https://mapstories.de" />
    <meta property="og:site_name" content="Mapstories" />
    <!-- /Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:title" content="Mapstories">
    <meta name="twitter:description" content="Golbale Geschichten interaktiv erzählen.">
    <meta name="twitter:image" content="https://mapstories.de/static/img/mapstories_logo.jpg">
    <!-- /Twitter Card -->
    <!-- <meta name="google-site-verification" content="lhuCPxlBqw_X1_92qAdtgJnwMK_OaPImW11eB0U48WM" /> -->
    {% include "_analytics.html" %}