<header class="header-product" style="margin-bottom: 0">
  <a href="/"><img class="re-logo" src="{{ STATIC_URL }}img/mapstories_logo.jpg" /></a>
  <h2 class="product-tagline">Karten, die Geschichten erzählen.</h2>
  <a
    class="re-button button button-secondary button-large button-small-phone"
    href="select/"
  >
    Erstelle eine Mapstory
  </a>

  <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
    <ul>
      <li class="logo">
        <a href="/"><h2 class="product-logo product-logo-smallest">  <img class="re-logo" src="{{ STATIC_URL }}img/mapstories_logo.jpg" />        </h2></a>
      </li>
    </ul>
    <ul>
      <li><a class="button" href="/galerie">Galerie</a></li>
      <li><a class="button" href="/anleitungen/">Anleitungen</a></li>
      <li><a class="button" href="/faq">FAQ</a></li>
      <li><a class="button" href="/about">Über uns</a></li>
    </ul>
  </nav>
</header>
