<section id="overview" class="container">
  <div class="grid-size-2 grid-size-1-phone">
    <div class="grid-item">
      <p>
        Mapstories.de ermöglicht es dir, Geschichten rund um die Welt zu
        erzählen! Im Sinne des Storytellings bietet dir dieses kostenlose Tool
        vielfältige Optionen, um globale Zusammenhänge mithilfe verschiedener
        Stationen auf einer Karte zu veranschaulichen. Damit werden deine
        Geschichten ortsbezogen strukturiert sowie interaktiv erfahrbar.
      </p>
      <p>Du hast zwei Möglichkeiten, um eine Mapstory zu erstellen:</p>
      <ul>
        <li>
          <h5>Karten</h5>
          <p>
            Die Grundlage deiner Geschichte bildet eine <b>Karte</b>. Für jeden
            neuen Ort deiner Erzählung kannst du eine neue Folie hinzufügen
            sowie eine Markierung auf der Karte setzen. Ihren Stil kannst du
            unter den Einstellungen durch die Verfügbarkeit verschiedener Karten
            und Layouts verändern.
          </p>
        </li>
        <li>
          <h5>Wirklich große Bilder</h5>
          <p>
            Du wählst als Hintergrund ein <b>Bild</b>, wie beispielsweise ein
            Foto, ein Kunstwerk oder eine historische Karte. Dabei ist eine gute
            Auflösung des Bildes sehr wichtig. Auch hier kannst du dann
            verschiedene Stationen hinzufügen, die den*die Leser*in schrittweise
            durch deine Geschichte führen.
          </p>
          <p class="text-align-center">
            <a class="button button-small" href="/gigapixel/"
              >Mehr zu Gigapixel Bildern</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="grid-item">
      <h3 style="margin-top: 0">Tipps &amp; Tricks</h3>
      <ol>
        <li>
          Teile deine Geschichte kleinschrittig auf verschiedene Orte auf der
          Karte auf.
        </li>
        <li>
          Füge zugunsten der Übersichtlichkeit maximal 20 Stationen hinzu.
        </li>
        <li>Beschränke dich auf die wichtigsten Informationen.</li>
        <li>
          Integriere verschiedene Medien in die Mapstory, sodass die Ereignisse
          anschaulich dargestellt werden.
        </li>
      </ol>
      <h3>Medienquellen</h3>
      <p>
        Du kannst zu jeder Folie ein Medium hinzufügen, dass die Relevanz deiner
        Informationen unterstreicht. Hier kannst du zwischen Fotos, Videos,
        Audioaufnahmen, Tweets und vielen mehr wählen, die entweder schon
        bestehen oder die du selbst erstellt hast. Deiner Kreativität sind somit
        keine Grenzen gesetzt!
      </p>
    </div>
  </div>
  <div>
    <h3>Entstehung</h3>
    <p>
      Mapstories.de ist im Rahmen einer Zusammenarbeit zwischen Re:edu GmbH &
      Co.KG und Vamos e.V. entstanden. Der Ausgangspunkt des Projekts war die
      Durchführung eines ko-kreativen Labs zur globalen Bekleidungsindustrie.
      Dabei stellt Mapstories ein webbasiertes OpenSource-Tool dar, mit dem die
      Schüler*innen eigenständig einen Einstieg in die entwicklungspolitische
      Bildungsarbeit zum oben genannten Thema konzipierten. Die Mapstories sind
      durch die Möglichkeit der anschaulichen Herstellung systemischer
      Verknüpfungen vor allem im Kontext der Bildung für nachhaltige Entwicklung
      einsetzbar und ermöglichen einen umfassenden Blick auf globale Themen.
    </p>
  </div>
</section>
