
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">
        			<p>
                        Mapstories.de ist ein kostenloses Tool, mit dem Sie Geschichten im Web erzählen können, die die Orte einer Reihe von Ereignissen hervorheben. Es ist ein neues Tool, das über ein benutzerfreundliches Autorentool verfügt.        			</p>
                    <p>Es gibt mehrere Möglichkeiten eine Mapstory zu erstellen</p>
                    <ul>
                        <li>
                            <h5>Karten</h5>
                            <p>
                                Fügen Sie für jeden Ort in Ihrer Geschichte eine Folie hinzu. Das Festlegen des Ortes ist sehr einfach, suchen Sie einfach nach dem Namen oder der Adresse in der Texteingabe. Sie können den visuellen Stil Ihrer Karte mit ein paar Voreinstellungen ändern, oder Sie nutzen <a href="https://www.mapbox.com/maps/" target="_blank">Mapbox</a> um Ihren eigenen Stil zu erstellen.                            </p>
                        </li>
                        <li>
                            <h5>Wirklich große Bilder</h5>
                            <p>
                                Sie können mit großen Fotos, Kunstwerken, historischen Karten und anderen Bilddateien Geschichten erzählen. Weil es am besten mit hochauflösenden Dateien funktioniert, nennen wir diese <strong><q>Gigapixel</q></strong>. Zur Nutzung dieser müssen Sie die Dateien auf einem Webserver hosten.
                            </p>
                            <p class="text-align-center">
                                <a class="button button-small" href="/gigapixel/">Mehr zu Gigapixel Bildern</a>
                            </p>
                        </li>
                    </ul>
        		</div>
        		<div class="grid-item">
                    <h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>Halten Sie es kurz. Wir empfehlen, nicht mehr als 20 Folien zu nutzen, durch die sich ein Leser durchklicken kann.</li>
        				<li>Wählen Sie Geschichten, welche einen starken Standortbezug haben.</li>
        				<li>Schreiben Sie jedes Ereignis als Teil einer größeren Erzählung.</li>
        				<li>Binden Sie auch kleine Events ein, welche zum großen Ganzen gehören</li>
        			</ol>
                    <h3>Medienquellen</h3>
        			<p>
        				Mapstories.de kann verschiedene Datenquellen nutzen
        				Twitter, Flickr, YouTube, Vimeo, Vine, Dailymotion, Google Maps, Wikipedia, SoundCloud, Document Cloud und mehr!
        			</p>
        		</div>
        	</div>
        </section>
