<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    {% include "_head.html" %}
{% endblock head %}
<link rel="stylesheet" href="//cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css?v2">
<script type="text/javascript" src="//cdn.knightlab.com/libs/storymapjs/latest/js/storymap.js"></script>
</head>

<body>


{% block content %}
{% endblock content %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock footer %}

{% block scripts %}
    <script src="https://cdn.knightlab.com/libs/orangeline/latest/js/main.js"></script>
{% endblock scripts %}
</body>
</html>
