<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    {% include "_head.html" %}
{% endblock head %}
<link rel="stylesheet" href="/compiled/css/storymap.css?v2">
<link rel="stylesheet" href="{{ STATIC_URL }}css/re-style.css">
<script type="text/javascript" src="/compiled/js/storymap-min.js"></script>
</head>

<body>


{% block content %}
{% endblock content %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock footer %}

{% block scripts %}
    <script src="https://cdn.knightlab.com/libs/orangeline/latest/js/main.js"></script>
{% endblock scripts %}
</body>
</html>
